.navbar {
  background: #5133a4;
  min-height: 70px;
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 99;
  white-space: nowrap
}

.navbar-item{
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center
}

.nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}